<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.unsyiah.elektro.mobile.aplikasi3minibus" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Jadwal"
            android:label="@string/title_activity_jadwal" >
        </activity>
        <activity
            android:name=".Mandala"
            android:label="@string/title_activity_mandala" >
        </activity>
        <activity
            android:name=".Mentari"
            android:label="@string/title_activity_mentari" >
        </activity>
        <activity
            android:name=".SamudraTour"
            android:label="@string/title_activity_samudra_tour" >
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".Tarif"
            android:label="@string/title_activity_tarif" >
        </activity>
        <activity
            android:name=".DaftarActivity"
            android:label="@string/title_activity_daftar"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.unsyiah.elektro.mobile.aplikasi3minibus.MainActivity" />
        </activity>
        <activity
            android:name=".TarifAllActivity"
            android:label="@string/title_activity_tarif_all"
            android:parentActivityName=".SecondActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.unsyiah.elektro.mobile.aplikasi3minibus.SecondActivity" />
        </activity>
        <activity
            android:name=".SamudraTarifActivity"
            android:label="@string/title_activity_samudra_tarif"
            android:parentActivityName=".TarifAllActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.unsyiah.elektro.mobile.aplikasi3minibus.TarifAllActivity" />
        </activity>
        <activity
            android:name=".MandalaTarifActivity"
            android:label="@string/title_activity_mandala_tarif"
            android:parentActivityName=".TarifAllActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.unsyiah.elektro.mobile.aplikasi3minibus.TarifAllActivity" />
        </activity>
        <activity
            android:name=".PesanTiketActivity"
            android:label="@string/title_activity_pesan_tiket"
            android:parentActivityName=".MandalaTarifActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.ac.unsyiah.elektro.mobile.aplikasi3minibus.MandalaTarifActivity" />
        </activity>
    </application>

</manifest>
